
name: Build Debian installer

on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      tar-url:
        description: 'URL for Kolibri tar file'
        required: true
  workflow_call:
    inputs:
      tar-file-name:
        required: false
        type: string
      tar-url:
        required: false
        type: string
      ref:
        description: 'A ref for this workflow to check out its own repo'
        required: false
        type: string
    outputs:
      deb-file-name:
        description: "DEB file name"
        value: ${{ jobs.build_deb.outputs.deb-file-name }}

jobs:
  build_deb:
    name: Build DEB file
    runs-on: ubuntu-latest
    outputs:
      deb-file-name: ${{ steps.get-deb-filename.outputs.deb-file-name }}
    steps:
    - name: Validate tar reference inputs
      if: ${{ (inputs.tar-file-name && inputs.tar-url) || (!inputs.tar-file-name && !inputs.tar-url) }}
      run: |
        echo "Must specify exactly one reference for the tar file to build the APK with."
        exit 1
    - uses: actions/checkout@v6
      if: ${{ !inputs.ref }}
    - uses: actions/checkout@v6
      if: ${{ inputs.ref }}
      with:
        repository: learningequality/kolibri-installer-debian
        ref: ${{ inputs.ref }}
    - uses: actions/cache@v5
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('setup.py', 'build_requires.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Download the tarfile from URL
      if: ${{ inputs.tar-url }}
      run: make get-tar tar=${{ inputs.tar-url }}
    - name: Download the tarfile from artifacts
      if: ${{ inputs.tar-file-name }}
      uses: actions/download-artifact@v6
      with:
        name: ${{ inputs.tar-file-name }}
        path: build_src
    - name: Update repository indexes
      run: sudo apt update       
    - name: Install Debian build package dependencies
      run: sudo apt install -y devscripts debhelper dh-python python3-all python3-pytest po-debconf python3-setuptools python3-pip build-essential
    - name: Run the build
      run: make kolibri.deb
    - name: Get DEB filename
      id: get-deb-filename
      run: echo "deb-file-name=$(ls dist | grep .deb | cat)" >> $GITHUB_OUTPUT
    - uses: actions/upload-artifact@v5
      with:
        name: ${{ steps.get-deb-filename.outputs.deb-file-name }}
        path: dist/${{ steps.get-deb-filename.outputs.deb-file-name }}
